body{background-color: #9999FF;
text-align :center;}

#header{font-style: oblique; color: white; font: bold;}
#p1{font-style: oblique;color: #88FF88;font-size: 50px}
#s1{font-style: oblique;color: white;font: bold;font-size: 100px}
#t1{width:30%;height: 20%}
#b1{width:30%;height: 20%;font-size: 20px; padding: 0px}