body{
	
	font-family:"Times New Roman",Times, serif;	
	text-align: center;
	background-color: #9999FF;	
}

table
{
	font-family:"Times New Roman",Times, serif;	
	margin: 0 auto;
}
td{
	font-size:120%

}
h3{
	font-size:200%
}
#upper_div{
	background-color:#CC0066;
	height:80px
	text-align:center;
	
}
#search_and_add{
	text-align: center;
}
.your_groups{
	font-size:150%
}
th{
	font-size:190%
}
.profile{
	font-size:120%
	padding-left:90%
}



