
body{
	text-align: center;
	background-color: #9999FF;
	font-style: oblique;

}

table{
	margin:auto;
}


#grouphug_img{
	
	width: 60%;
	height :100%;

	margin: 0 auto;
	
}

#sign{
	color:white;
}

#d1{
	margin: auto;
	text-align:center;
	height:150px;
}
