/* Add your CSS Code here */
h1 {text-align:center; font-style:oblique; font-size:50px; color:white;}

#cover_photo {height:350px; width:100%; marign: 0px;}

body {background-color: green }

#usernam_password_div {margin: auto; width:300px;}

#submit_button_div {margin: auto; width:100px;}

#UVP_div {background-color:green; }








