<html>
<head> 
<title> {{n}} Group </title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='group_page.css') }}">
</head>

<body>

<div id = "div1">
<h1>{{n}} Group </h1>

<form action = "{{url_for('group_page',name = n,post_activity = 2,user_id = user_id)}}" method = "post">
<input type = "submit" name = "submit" value = "Join Group">
</form>

</div>

<br>




<h2> Posts </h2>


<div id = "div3">
<form action = "{{url_for('group_page',name = n,post_activity = 1,user_id = user_id)}}" method = "post">
<input name = "to_post" type="text" placeholder = "share with us please">
<br>
<br>
<input id = "sub"name = "submit" type = "submit" value = "post">
</form>

{% for post in posts %}
{{post.content}}<br>
{% endfor %}
</div>

<div id="div4">
<a href="{{url_for('after_sign_in',user_id = user_id)}}">Return</a>
</div>

</body>
</html>
