<!DOCTYPE html>
<html>

<head>
  <title>
    Hug A Friend 
  </title>
 
<link rel=stylesheet type=text/css href="../static/styles2.css">

</head>

<body>
<div id = "div1">
</div>
<div id = "div2">
<h1> Hug A Friend  </h1> 
</div>
<div id="div3">
<form action = "{{url_for('sign_in')}}" method = "post">

username:<input name = "user_name" type = "text" name = "username"/>  <br> <br> 
password:<input name = "password"  type = "text" name = "password"/>  <br> <br> 
</div>
<div id="div4">
 <input type = "submit" value = "submit"/> 

</form>
<br>
<a href = "{{url_for('signup')}}"> Sign Up</a>
</div>


</html>
