<!DOCTYPE html>
<html>

<head>
  <title>
    Hug A Friend 
  </title>
  <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles2.css') }}">-->
<link rel=stylesheet type=text/css href="../static/styles2.css">
 <img src="../static/people.jpg" alt="" width="100" height="100" id= "cover_photo">

<h1> Hug A Friend  </h1> 
</head>

<body>

<!--<img src= "../static/hugafriend1.jpg" alt="" id="main_page_img" > -->
<form>
<div id="div1">
<p class="two"> username:<input type = "text" name = "username"/>  <br> <br> </p>
<p class="two">password:<input type = "text" name = "password"/>  <br> <br> </p>
<div id="div2"> <input type = "submit" value = "submit"/> </div>
</div>
</form>




</html>
