<!DOCTYPE html>
<html>

<head>
  <title>
    Hug A Friend 
  </title>
 
<link rel=stylesheet type=text/css href="../static/styles2.css">

<h1> Hug A Friend  </h1> 
</head>

<body>
<form action = "{{url_for('sign_in')}}" method = "post">
<div id="div1">
username:<input name = "user_name" type = "text" name = "username"/>  <br> <br> 
password:<input name = "password"  type = "text" name = "password"/>  <br> <br> 
<div id="div2"> <input type = "submit" value = "submit"/> </div>
</div>
</form>

<a href = "{{url_for('signup')}}"> Sign Up</a>



</html>
